body {
    background: #E6E6FA;
}
.background {
    height: 500px;
    width: 540px;
    overflow: auto;
    background-color: #E8DBAE;
    -moz-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25); 
    margin:50px auto;
    font: 13px/2.0 "Happy Monkey", cursive, Helvetica Neue, san-serif; 
}
.header {
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.month {
    display: inline-block;
}
.left {
    margin-right: 70px;
}
.right {
    margin-left: 70px;
}
p {
   display: block;
   margin: -20px 20px -5px;
}
th, td {
    width: 60px;
    height: 25px;
    background-color: #FCF6D4;
}
th {
    border: 1px solid #333;
}
td {
    border: 1px solid #333;
}

td + td {
    border: 1px solid #DDD;
}
table {
    border-collapse: collapse;
    margin: 20px;
}
